body {
    background-color: rgb(59, 214, 83);
}

main {
    background-color: gainsboro;
    width: 1100px;
    margin: 30px auto 30px auto;
    padding: 16px 8px 8px 8px;
    border: 2px solid black;
}
h1 {
    font-size: 1.4cm;
}
ol li {
    margin-left: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}